﻿@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
    padding-top: 65px;
    font-family: 'Source Sans Pro', sans-serif !important;
}

/**********
    nav
**********/
nav {
    min-height: 75px;
    background-color: white;
}

    nav div.container {
        padding: 0 10px;
        margin: auto;
        position: relative;
    }

    nav div.navbar-collapse {
        position: absolute;
        right: 0;
        font-size: .95em;
    }

    nav ul.nav li a {
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 1px;
        padding: 29px 40px 16px 40px;
        color: #101115;
    }



.navbar-brand {
    padding: 5px;
}

nav .active {
    border-right: 2px solid black;
    border-left: 2px solid black;
    color: #000;
    font-weight: bold;
    /*background-color: #eeeeee;*/
}




.box {
    position: relative;
    width: 50px;
    height: 100%;
    background-color: #fff;
    padding: 0;
    margin-bottom: 0px;
    /*cursor: pointer;*/
    display: block;
    float: right;
}


.bar {
    position: absolute;
    display: block;
    background-color: #000;
    width: 35px;
    height: 5px;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 6px auto;
    transition-duration: .5s;
    transition-timing-function: ease;
    left: 7%;
}

    .bar:first-child {
        top: 0;
        /*left: 15%;*/
    }

    .bar:nth-child(2) {
        top: 10px;
        /*left: 15%;*/
    }

    .bar:last-child {
        top: 20px;
        /*left: 15%;*/
    }

.bar-times:first-child {
    transform: rotate(-135deg);
    top: 30%;
}

.bar-times:nth-child(2) {
    opacity: 0;
}

.bar-times:last-child {
    transform: rotate(135deg);
    top: 30%;
}


.box-button {
    width: 45px;
    height: 40px;
    /* z-index: -50; */
    background-color: #fff;
    border: none;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    padding: 5px;
    margin: 0;
    margin-top: 10px;
    margin-right: 10px;
}

.navbar-inverse .navbar-toggle:focus {
    background-color: rgb(39, 128, 227);
}

.navbar-header {
    width: 100%;
}

@media screen and (max-width: 992px) {
    nav .container:first-child {
        width: 100%;
        max-width: 100%;
    }

    nav ul.nav li a {
        font-size: .75em;
        padding: 29px 25px 16px 25px;
    }
}

@media screen and (max-width: 768px) {

    nav .active.first {
        border-top: 1px solid black;
    }

    #mainnav {
        width: 100%;
        margin: 55px auto;
        overflow: hidden;
        background-color: #fff;
        text-align: center;
        border-bottom: 1px solid black;
    }

    .navbar-nav li {
        border-bottom: 1px solid black;
        width: 90%;
        margin: auto;
        transition: opacity 0;
    }

        .navbar-nav li:last-child {
            border-bottom: none;
        }

    nav ul.nav li a {
        font-size: 1.25em;
    }

    .navbar-nav {
        border-bottom: 1px solid black;
    }
}

@media screen and (max-width: 740px) and (orientation: landscape) {
    nav ul.nav li a {
        padding: 10px;
    }
}

@media screen and (max-width: 355px) {
    .navbar-brand {
        width: 75%;
    }
}


/************************
    Hide nav on scroll
*************************/
.nav-expanded-up {
    top: -400px;
}

.nav-up {
    top: -200px;
}

nav.navbar-fixed-top {
    transition: top 0.5s ease-in-out;
}


/*************
    Footer
**************/
footer {
    width: 100%;
    height: 150px;
    /*background: url(../Images/bg_footer.jpg) scroll no-repeat center;*/
    background: url(../Images/tyler-quick-616185-unsplash-dark.jpg) fixed no-repeat center;
    background-color: #000;
    color: #fff;
    font-weight: 300;
    font-size: .9em;
    margin-top: 50px;
    padding-top: 50px;
    background-size: cover;
}

@media screen and (max-width: 768px) {
    footer {
        padding-top: 5px;
    }

        footer p {
            text-align: center !important;
        }
}


/************
    Index
************/
.index-header {
    background: url(../Images/tyler-quick-616185-unsplash-dark.jpg) fixed no-repeat center;
    border-bottom: 7px solid #e5e5e5;
    min-height: 465px;
    background-size: cover;
}

.small-header {
    background: url('../Images/tyler-quick-616185-unsplash-dark.jpg') fixed no-repeat center;
    background-size: cover;
    border-bottom: 7px solid #e5e5e5;
    min-height: 200px;
    /*height: 200px;*/
}

    .index-header h1, .small-header h1 {
        padding-top: 70px;
        padding-bottom: 14px;
        font-size: 2.5em;
        font-weight: 500;
        color: #fff;
        text-shadow: 0px 2px #000;
    }

@media screen and (max-width: 415px) {
    .index-header h1 {
        font-size: 2em;
    }
}

.small-header h1 {
    padding-top: 0;
}

.small-header .header-btn a {
    width: 100%;
}


.index-header h2 {
    font-size: 1.5em;
    font-weight: 300;
    color: #bcbcbc;
    text-shadow: 0px 1px #000;
}

.index-header .header-btn, .small-header .header-btn {
    margin-top: 40px;
}

.small-header .header-btn {
    margin-top: 15px;
    margin-right: 30px;
}

.header-btn a {
    background-color: #e66e0d;
    width: 90%;
    max-width: 150px;
    display: inline-block;
    padding: 15px 30px 15px 30px;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 1px;
    text-shadow: 0px 1px #d72d05;
    box-shadow: inset 0px 1px #f08715;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    line-height: inherit;
    border: 5px solid rgba(0, 0, 0, .2);
    background-clip: padding-box;
}

.index-header .header-btn a {
    margin: auto;
    display: block;
}

.header-btn a:hover {
    background-color: rgb(215, 98, 3);
}

.highlighted-content {
}

.highlighted-content {
    background-color: rgb(34, 35, 39);
    min-height: 150px;
    margin-top: 20px;
    /*padding-top: 50px;*/
}

    .highlighted-content > div {
        position: relative;
        width: 75%;
        margin: auto;
        min-height: 150px;
    }

        .highlighted-content > div > div:first-child {
            /* position: relative; */
            margin-top: 55px;
            /* top: 35%; */
            /* left: -30px; */
            color: white;
            text-shadow: 2px 2px #111;
        }

        .highlighted-content > div > div:nth-child(2) {
            /*position: absolute;
            top: 30%;
            right: 0;*/
            margin-top: 50px;
        }

@media screen and (max-width: 1200px) {
    .highlighted-content .header-btn a {
        padding: 15px;
    }
}

@media screen and (max-width: 992px) {
    .highlighted-content .header-btn a {
        padding-left: 25px;
    }
}

@media screen and (max-width: 768px) {
    .highlighted-content div div:first-child, .highlighted-content div div:last-child {
        text-align: center;
    }

    .highlighted-content div div:last-child {
        margin-bottom: 25px;
    }
}


.recent-work-overlay {
    height: 100%;
    width: 95%;
    background-color: rgba(255, 165, 0, .71);
    position: absolute;
    top: 0;
    transition: .3s ease-in-out;
    opacity: 0;
}

@media screen and (max-width: 768px) {
    .recent-work-overlay {
        opacity: 1;
        background: none;
        padding-right: 15px;
    }

    .recent-work-container .col-sm-6 {
        margin-bottom: 10px;
    }
}

.recent-work-container img {
    border-bottom: 7px solid rgb(229, 229, 229);
}

div:hover > a > .recent-work-overlay {
    opacity: 1;
    cursor: pointer;
}

.recent-work-overlay > div {
    background-color: rgba(0, 0, 0, .8);
    padding: 10px;
    margin-top: 15%;
    text-align: center;
}

    .recent-work-overlay > div > h5 {
        font-weight: bold;
        font-size: 2em;
        color: white;
        text-shadow: 1px 1px #111;
        width: 100%;
    }

    .recent-work-overlay > div > p {
        font-size: 1em;
        color: white;
        width: 80%;
        margin: auto;
    }


.about-me {
    margin-top: 30px;
    font-size: 1.25em;
    border-top: 1px solid black;
    padding-top: 10px;
    margin-bottom: 30px;
}


/***************
    Portfolio
***************/
.recent-work-container .row:nth-child(2) {
    margin-bottom: 20px;
}



/*************
    Contact
**************/
.form-group blockquote {
    font-size: 1.25em;
}


/**********************
    Back To Top Btn
***********************/
#backToTop {
    display: none;
}

@media screen and (max-width: 768px) {
    #backToTop {
        /*display: block;*/
        position: fixed;
        bottom: 55px;
        right: 40px;
    }

        #backToTop a {
            color: rgb(215, 98, 3) !important;
            border: 3px solid rgb(215, 98, 3);
            padding: 5px;
            background-color: rgb(34, 35, 39);
        }
}




/*************************************ACCORDION*****************************/
/*#resumeAccordion
{
    margin:auto;
    width:60%;
    padding-top:10px;
    text-align:center;
}

    #resumeAccordion h2
    {
        font-size: 150%;
        background-color: #1e2022;
        border-top: 5px solid black;
        border-right: 5px solid black;
        border-left: 5px solid black;
        padding: 10px 0;
        color: whitesmoke;
    }

    #resumeAccordion div
    {
        padding: 1em;
        text-align: left;
        border-right: 5px solid black;
        border-left: 5px solid black;
    }

    #resumeAccordion ul
    {

    }

        #resumeAccordion div ul li
        {
            list-style-type:square;
        }

            #resumeAccordion div ul li ul
            {

            }

                #resumeAccordion div ul li ul li
                {

                }*/

#resumeAccordion {
    margin-bottom: 2em;
    margin-top: 3em;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    min-width: 250px;
}

    #resumeAccordion h2 {
        border-bottom: 5px groove white;
        font-size: 200%;
        background-color: black;
        box-shadow: 2px 0 10px 0 black;
        color: lightgrey;
        text-align: center;
        /*font-family: 'Bree Serif';*/
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        cursor: pointer;
        /*margin-top:20px;*/
        margin-top: .5em;
    }

    #resumeAccordion div {
        color: whitesmoke;
        text-shadow: 5px 5px 5px black;
        padding: 1em 2em 2em;
        /*margin:auto;*/
        line-height: 1.5em;
        border-left: 4px inset white;
        border-right: 4px outset white;
        border-bottom: 4px outset white;
        border-radius: 0 0 10px 10px;
        background-color: #1e2022;
        font-size: 110%;
        box-shadow: 2px 0 10px 0 black;
    }

        #resumeAccordion div ul li {
            list-style: circle;
            margin-left: 2em;
            font-weight: bold;
        }

            #resumeAccordion div ul li ul li {
                margin-left: 1em;
                font-weight: 400;
            }

            #resumeAccordion a{
                color: rgb(215, 98, 3);
            }


/**************************
    Resources Accordion
**************************/
.accordion h4, .accordion a, .accordion h5{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.25em;
}

.accordion.outer{
    background-color: black;
    color: white;
}

.accordion .inner article{
    background-color: white;
    color: black;
}

.accordion ul{
    list-style-type: none;
    padding: 0;
}

.accordion ul li{
    background-color: white;
    margin: 0;    
    padding: 10px;
    border-top: 1px solid black;
    /*border-radius: 3px;*/
    margin-bottom: 2px;
    width: 75%;
    margin: 2px auto;
}

.accordion .inner article ul li{
    border-radius: 0;    
}

.accordion .inner article ul li:first-child{
    border-top: 1px solid black;
}

.accordion.outer.empty ul li:first-child{
    border: none;
}

.accordion .inner article ul li:last-child{
    border-bottom: 1px black solid;
}

.accordion.outer ul{
    background: white;
    width: 80%;
    margin: auto;
}

.accordion.outer ul li:first-child{
    border-top: 1px solid black;
}

.accordion ul li a{
    display: block;    
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1em;
    /*color: rgb(109, 110, 112);*/
}

.accordion ul li a:hover, .accordion ul li a:active, .accordion ul li a:focus{
    text-decoration: none;
}