﻿<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Jeff DeMaranville's developer portfolio website" />
    <meta name="keywords" content="Jeff DeMaranville, Codefolio, Portfolio" />
    
    <title>@ViewBag.Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Styles/jquery.beefup.css" rel="stylesheet" />
    <link href="~/Content/Styles/custom.css" rel="stylesheet" />
    <link href="~/favicon.ico" rel="icon" />
</head>
<body>
    <header>
        <nav class="navbar navbar-fixed-top">
            <div class="container">
                <div class="navbar-header box" id="nav">
                    <button type="button" class="navbar-toggle box-button" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </button>

                    <a href="~/" class="navbar-brand">
                        <img src="~/Content/Images/Jeff_Logo_rsz.jpg" class="img-responsive" alt="Jeff D Codefolio" />                        
                    </a>
                </div>
                <div class="navbar-collapse collapse" id="mainnav">
                    <ul class="nav navbar-nav">
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active first" : "")">                            
                            @Html.ActionLink("Home", "Index", "Home")
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Portfolio" ? "active" : "")">
                            @Html.ActionLink("Portfolio", "Portfolio", "Home")
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Resources" ? "active" : "")">
                            @Html.ActionLink("Resources", "Resources", "Home")
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Blog" ? "active" : "")">
                            @Html.ActionLink("Blog", "Blog", "Home")
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Contact" ? "active" : "")">
                            @Html.ActionLink("Contact", "Contact", "Home")
                        </li>
                    </ul>
                </div>            
            </div>
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <p class="">
                        <a href="http://creativecommons.org/licenses/by/3.0/">CC Attribution 3.0 Unported</a> &mdash; allowed for commercial and non-commercial use
                    </p>
                    <p>
                        Website: <a href="https://www.linkedin.com/in/jeffrey-demaranville-90ab6272/" target="_blank">Jeff DeMaranville</a> 2018
                    </p>
                </div>
                <div class="col-sm-6">
                    <p class="text-right">
                        Logo Design: <a href="http://www.etsy.com/people/YellowBrickGraphics" target="_blank">Mickenzie Bush - Yellowbrick Graphics</a>
                    </p>
                    <p class="text-right">
                        Template Author: <a href="//ries.cz" target="_blank">Vilem Reis</a>
                    </p>
                    <p class="text-right">
                        Original Template: <a href="~/_archive/nina.zip" target="_blank">Nina</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <div id="backToTop">
        <a href="#">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/navigation.js"></script>
    <script src="~/Scripts/custom.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
