﻿@{
    ViewBag.Title = "Blog | Jeff DeMaranville";
}
<div class="jumbotron small-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <h1>
                    Blog
                </h1>
            </div>
            <div class="header-btn pull-right">
                <a href="~/Home/Resume">RESUME</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h3>Coming soon</h3>
</div>