﻿@model PersonalSite.UI.MVC.Models.ContactViewModel
@{
    ViewBag.Title = "Contact | Jeff DeMaranville";
}
<div class="jumbotron small-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <h1>
                    Contact
                </h1>
            </div>
            <div class="header-btn pull-right">
                <a href="~/Home/Resume">RESUME</a>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("Contact", "Home", FormMethod.Post, new { @class = "form-horizontal container" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(model => model.Name, new
   {
       @class = "col-sm-3 col-sm-offset-1 control-label",
       @for = "tbName"
   })
        <div class="col-sm-5">
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", id = "tbName", placeholder = "Name", type = "text", autofocus = "true" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Subject, new { @class = "col-sm-3 col-sm-offset-1 control-label",
   @for = "tbSubject"})
        <div class="col-sm-5">
            @Html.TextBoxFor(model => model.Subject, new { @class = "form-control", type = "text", id = "tbSubject", placeholder = "Subject"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email, new { @class = "col-sm-3 col-sm-offset-1 control-label", @for = "tbEmail"})
        <div class="col-sm-5">
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", type = "text", id = "tbEmail", placeholder = "user@email.com"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Message, new { @class = "col-sm-3 col-sm-offset-1 control-label", @for = "tbMessage"})
        <div class="col-sm-5">
            @Html.TextAreaFor(model => model.Message, new { @class = "form-control", type = "text", id = "tbMessage", placeholder = "Brief message here..."})
        </div>
    </div>

    <div class="col-sm-offset-4 col-sm-2">
        <input type="submit" class="btn btn-success" value="Send!" />
    </div>
}


