﻿@model PersonalSite.UI.MVC.Models.ContactViewModel

@{
    ViewBag.Title = "Contact | Jeff DeMaranville";
}
<div class="jumbotron small-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <h1>
                    Confirmation!
                </h1>
            </div>
            <div class="header-btn pull-right">
                <a href="~/Home/Resume">RESUME</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="text-info text-center">
                Thank you for contacting me, @Model.Name
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-offset-4 col-sm-2 form-group">
                    @Html.LabelFor(model => model.Name, new { @class = "control-label" })

                    <blockquote>@Model.Name</blockquote>
                </div>

                <div class="col-sm-3 form-group">
                    @Html.LabelFor(model => model.Subject, new { @class = "control-label" })
                    <blockquote>@Model.Subject</blockquote>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-offset-4 col-sm-4 form-group">
                    @Html.LabelFor(model => model.Email, new { @class = "control-label" })

                    <blockquote>@Model.Email</blockquote>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-offset-4 col-sm-4 form-group">
                    @Html.LabelFor(model => model.Message, new { @class = "control-label" })

                    <blockquote>@Model.Message</blockquote>
                </div>
            </div>
        </div>
    </div>
</div>