﻿@{
    ViewBag.Title = "Home | Jeff DeMaranville";
}

<div class="jumbotron index-header">
    <div class="container">
        <div class="text-center">
            <h1>
                Jeffrey DeMaranville
            </h1>
            <h2>
                Developer
            </h2>
            <div class="header-btn">
                <a href="~/Home/Resume">RESUME</a>
            </div>
        </div>
    </div>
</div>

<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 text-center">
                <h3>Is it responsive?</h3>
                <p>Yes.</p>
            </div>
            <div class="col-sm-4 text-center">
                <h3>Hopes, dreams, goals?</h3>
                <p>Finish all the Brandon Sanderson novels.</p>
            </div>
            <div class="col-sm-4 text-center">
                <h3>What's going on now?</h3>
                <p>
                    I'm an instructor at Centriq!
                </p>
            </div>
        </div>
        <div class="row recent-work-container">
            <div class="col-sm-12">
                <h3>Recent Work</h3>
                <div class="row">
                    <div class="col-sm-6">
                        <a href="http://drakechiroandrehab.com" target="_blank">
                            <img src="~/Content/Images/drake.png" class="img-responsive" alt="Drake Chiro and Rehab" />
                            <div class="recent-work-overlay">
                                <div>
                                    <h5>Drake Chiropractic and Rehab</h5>
                                    <p>
                                        Custom-built CMS that allows editing for all content and images
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a href="http://sb.jeffdcodefolio.com" target="_blank">
                            <img src="~/Content/Images/Soundboard.png" class="img-responsive" alt="Jeff D Soundboard" />
                            <div class="recent-work-overlay">
                                <div>
                                    <h5>Interactive Soundboard</h5>
                                    <p>
                                        Click the buttons, hear a sound, see a GIF.  My kids love it
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-sm-offset-2 col-sm-8 about-me">
                <h3>About Me</h3>
                <p>
                    I began my tech career as the 'IT Person' in the Modern Languages Department at Kansas State University. In 2013 I attended Centriq Training and just days after completing the program was hired by Accuhealth Partners. At Accuhealth I worked intently in MySQL and SQL Server Management Studio to deliver a service to Gastrointestinal Practices and hospitals by acquiring patient data that Accuhealth could utilize to manage patient communication (and ultimately take that piece off of the hospitals' plates). In April 2016 I accepted a position at Centriq Training as a technical instructor, focusing on SQL and Client Side Programming.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-offset-2 col-sm-8 highlighted-content">
                <div class="row">
                    @*<div class="col-sm-8">
                        <h4>Check out Centriq Training</h4>
                    </div>
                    <div class="col-sm-4 header-btn">
                        <a href="http://centriq.com" target="_blank">click here</a>
                    </div>*@
                    <div class="col-sm-6">
                        <h4>Check out Centriq Training</h4>
                    </div>
                    <div class="col-md-offset-2 col-md-4 col-sm-6 header-btn">
                        <a href="http://centriq.com" target="_blank">click here</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>