﻿
@{
    ViewBag.Title = "Portfolio | Jeff DeMaranville";
}

<div class="jumbotron small-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <h1>
                    Portfolio
                </h1>
            </div>            
            <div class="header-btn pull-right">
                <a href="~/Home/Resume">RESUME</a>
            </div>
        </div>
    </div>
</div>


<div id="content">
    <div class="container recent-work-container">
        <div class="row">
            <div class="col-sm-12">
                <h3>Recent Work</h3>
                <div class="row">
                    <div class="col-sm-6">
                        <a href="http://drakechiroandrehab.com" target="_blank">
                            <img src="~/Content/Images/drake.png" class="img-responsive" alt="Drake Chiro and Rehab" />
                            <div class="recent-work-overlay">
                                <div>
                                    <h5>Drake Chiropractic and Rehab</h5>
                                    <p>
                                        Custom-built CMS that allows editing for all content and images - 2018
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a href="http://sb.jeffdcodefolio.com" target="_blank">
                            <img src="~/Content/Images/Soundboard.png" class="img-responsive" alt="Jeff D Soundboard" />
                            <div class="recent-work-overlay">
                                <div>
                                    <h5>Interactive Soundboard</h5>
                                    <p>
                                        Click the buttons, hear a sound, see a GIF.  My kids love it - 2017
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <a href="http://tst.jeffdcodefolio.com" target="_blank">
                            <img src="~/Content/Images/tst.png" class="img-responsive" alt="Tech Support Tracker" />
                            <div class="recent-work-overlay">
                                <div>
                                    <h5>Tech Support Tracker</h5>
                                    <p>
                                        Final project for Centriq Training - 2013
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a href="http://sat.jeffdcodefolio.com" target="_blank">
                            <img src="~/Content/Images/sat.png" class="img-responsive" alt="Student Administration Tool" />
                            <div class="recent-work-overlay">
                                <div>
                                    <h5>Student Administration Tool</h5>
                                    <p>
                                        Final project #2 for Centriq Training - 2013
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>