﻿
@{
    ViewBag.Title = "Resources | Jeff DeMaranville";
}

<div class="jumbotron small-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <h1>
                    Resources
                </h1>
            </div>
            <div class="header-btn pull-right">
                <a href="~/Home/Resume">RESUME</a>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <!--FRONT END-->
            <article class="beefup accordion outer">
                <h4 class="beefup__head">
                    Front End
                </h4>
                <div class="beefup__body inner">
                    <!--FONTS-->
                    <article class="beefup accordion">                        
                        <h5 class="beefup__head">
                            Fonts
                        </h5>
                        <div class="beefup__body">
                            <ul>
                                <li>
                                    <a href="https://fonts.google.com/" target="_blank" title="Font Library">Google Fonts</a>
                                </li>
                                <li>
                                    <a href="https://fontface.ninja/" target="_blank" title="Chrome Extension">FontFace Ninja (Chrome)</a>
                                </li>
                                <li>
                                    <a href="https://addons.mozilla.org/en-US/firefox/addon/font-finder/" target="_blank" title="Firefox Addon">Font Finder (Firefox)</a>
                                </li>
                                <li>
                                    <a href="http://typecast.com/preview/google" target="_blank" title="Web App">TypeCast (Preview fonts)</a>
                                </li>
                                <li>
                                    <a href="http://webfont-test.com/" target="_blank" title="Web App">Webfont Test (Preview fonts)</a>
                                </li>
                                <li>
                                    <a href="https://typezebra.com" target="_blank" title="Web App">Type Zebra (Preview fonts)</a>
                                </li>
                            </ul>
                        </div>
                    </article>

                        <!--IMAGES-->
                    <article class="beefup accordion">
                        <h5 class="beefup__head">
                            Images
                        </h5>
                        <div class="beefup__body">
                            <ul>
                                <li>
                                    <a href="https://www.motasha.com" target="_blank" title="Free, high res images">Motasha</a>
                                </li>
                                <li>
                                    <a href="https://unsplash.com" target="_blank" title="Free, high res images">Unsplash</a>
                                </li>
                                <li>
                                    <a href="https://www.pexels.com" target="_blank" title="Free, high res images">Pexels</a>
                                </li>
                                <li>
                                    <a href="https://search.creativecommons.org" target="_blank" title="Hodgepodge of free images">Creative Commons Search</a>
                                </li>
                                <li>
                                    <a href="https://favicon.io" target="_blank" title="Text or image favicon generator">Favicon Generator</a>
                                </li>
                                <li>
                                    <a href="https://pixlr.com/" target="_blank" title="Web App">Online Image Editor</a>
                                </li>
                                <li>
                                    <a href="https://www.gimp.org/" target="_blank" title="Downloadable App">GIMP Photo Editor</a>
                                </li>
                            </ul>
                        </div>
                    </article>

                        <!--UI/UX-->
                    <article class="beefup accordion">
                        <h5 class="beefup__head">
                            UI/UX
                        </h5>
                        <div class="beefup__body">
                            <ul>
                                <li>
                                    <a href="http://blog-en.tilda.cc/articles-website-design-mistakes" target="_blank" title="Article">Common Web Page Design Mistakes</a>
                                </li>
                                <li>
                                    <a href="https://www.codepicky.com/project-wireframing-what-it-is-and-how-to-use-it/" target="_blank" title="Article">Wireframing</a>
                                </li>
                                <li>
                                    <a href="https://www.inc.com/magazine/201711/sheila-marikar/website-design-marketing.html" target="_blank" title="Article">Keep Users On Your Site</a>
                                </li>
                                <li>
                                    <a href="http://redstarwebdevelopment.com/2013/04/free-webapps-for-designers/" target="_blank" title="Collection of resources">Design Resources</a>
                                </li>
                            </ul>
                        </div>
                    </article>

                        <!--HTML-->
                    <article class="beefup accordion">
                        <h5 class="beefup__head">
                            HTML
                        </h5>
                        <div class="beefup__body">
                            <ul>
                                <li>
                                    <a href="https://skilled.co/html-canvas/" target="_blank" title="Tutorial">HTML Canvas Tutorial</a>
                                </li>
                                <li>
                                    <a href="http://i.imgur.com/RyaYe9C.jpg" target="_blank" title="Reference">HTML5 Mega Cheatsheet</a>
                                </li>
                            </ul>
                        </div>
                    </article>

                        <!--CSS-->
                    <article class="beefup accordion">
                        <h5 class="beefup__head">
                            CSS
                        </h5>
                        <div class="beefup__body">
                            <ul>
                                <li>
                                    <a href="https://tympanus.net/codrops/css_reference/" target="_blank" title="Reference">Codrops CSS Reference</a>
                                </li>
                                <li>
                                    <a href="https://www.layoutit.com/grid" target="_blank" title="Web App">Grid Builder</a>
                                </li>
                                <li>
                                    <a href="https://itnext.io/how-to-build-complicated-grids-using-css-grid-609b1197cf75" target="_blank" title="Article">Build Complicated CSS Grids</a>
                                </li>
                                <li>
                                    <a href="https://cssduotone.com/" target="_blank" title="Web App">DuoTone CSS Over Images</a>
                                </li>
                                <li>
                                    <a href="https://color.adobe.com/" target="_blank" title="Web App">Adobe Color Picker</a>
                                </li>
                                <li>
                                    <a href="https://css-tricks.com/" target="_blank" title="Tutorial">CSS Tricks</a>
                                </li>
                                <li>
                                    <a href="https://jonsuh.com/hamburgers/" target="_blank" title="Tutorial">Hamburger Menu Animations</a>
                                </li>
                            </ul>
                        </div>
                    </article>

                        <!--JS-->
                    <article class="beefup accordion">
                        <h5 class="beefup__head">
                            JavaScript
                        </h5>
                        <div class="beefup__body">
                            <ul>
                                <li>
                                    <a href="https://javascript30.com/" target="_blank" title="Tutorial">
                                        JavaScript 30
                                    </a>
                                </li>
                                <li>
                                    <a href="https://medium.freecodecamp.org/learn-these-javascript-fundamentals-and-become-a-better-developer-2a031a0dc9cf" target="_blank" title="Article">JS Fundamentals</a>
                                </li>
                                <li>
                                    <a href="http://javascript.info/" target="_blank" title="Reference">Essentials</a>
                                </li>
                                <li>
                                    <a href="https://www.fullstackacademy.com/blog/learn-javascript-for-free-11-online-tutorials-resources" target="_blank" title="Tutorials">Tutorial Resources</a>
                                </li>
                            </ul>
                        </div>
                    </article>
                    
                </div>
            </article>

            <!--C#-->
            <article class="beefup accordion outer empty">
                <h4 class="beefup__head">
                    C#
                </h4>
                <div class="beefup__body">
                    <ul>
                        <li>
                            <a href="https://learnxinyminutes.com/docs/csharp/" target="_blank" title="Article">C# Breakdown</a>
                        </li>
                    </ul>
                </div>
            </article>

            <!--SQL-->
            <article class="beefup accordion outer empty">
                <h4 class="beefup__head">
                    SQL
                </h4>
                <div class="beefup__body">
                    <ul>
                        <li>
                            <a href="https://www.reddit.com/r/webdev/comments/8dfxg6/i_wrote_this_to_help_web_developers_learn_basics/" target="_blank" title="Article">JOIN Basics</a>
                        </li>
                        <li>
                            <a href="https://sqlzoo.net" target="_blank" title="Tutorial">SQL Zoo</a>
                        </li>
                    </ul>
                </div>
            </article>

            <!--Job Seeking-->
            <article class="beefup accordion outer empty">
                <h4 class="beefup__head">
                    Job Seeking
                </h4>
                <div class="beefup__body">
                    <ul>
                        <li>
                            <a href="https://www.reddit.com/r/webdev/comments/90xmpw/how_to_prep_your_github_for_job_seeking/" target="_blank" title="Article">Prep Your GitHub</a>
                        </li>
                        <li>
                            <a href="https://blog.usejournal.com/nailing-the-technical-interview-1d50c06c3686" target="_blank" title="Article">Nailing the technical interview</a>
                        </li>
                        <li>
                            <a href="https://github.com/yangshun/front-end-interview-handbook" target="_blank" title="Article">Front End Interview Handbook</a>
                        </li>
                    </ul>
                </div>
            </article>

            <!--General-->
            <article class="beefup accordion outer empty">
                <h4 class="beefup__head">
                    General
                </h4>
                <div class="beefup__body">
                    <ul>
                        <li>
                            <a href="https://www.reddit.com/r/webdev/wiki/index" target="_blank" title="Collection of resources">2018 Web Dev Resources</a>
                        </li>
                        <li>
                            <a href="https://medium.freecodecamp.org/mistakes-i-have-made-as-a-junior-developer-85260bdb992f" target="_blank" title="Article">Common Jr Dev Mistakes</a>
                        </li>
                        <li>
                            <a href="https://www.reddit.com/r/webdev/comments/8sumel/free_web_development_tutorials_for_those_who_are/" target="_blank" title="Collection of tutorials">Web Dev Tutorials</a>
                        </li>
                        <li>
                            <a href="https://www.reddit.com/r/learnprogramming/comments/8nkkr6/today_i_hit_6_months_in_learning_how_to_program/" target="_blank" title="Article">Tips For Jr Devs</a>
                        </li>
                        <li>
                            <a href="https://www.reddit.com/r/learnprogramming/comments/8gqddo/i_made_this_free_tool_for_learning_programming/" target="_blank" title="Tutorial">Learn Programming</a>
                        </li>
                        <li>
                            <a href="https://www.reddit.com/r/learnprogramming/comments/8bt1j4/senior_programmers_and_developers_what_are_some/" target="_blank" title="Article">Advice From Sr Devs</a>
                        </li>
                    </ul>
                </div>
            </article>
        </div>    
    </div>
</div>


@section scripts{
    <script src="~/Scripts/jquery.beefup.js"></script>    

    <script type="text/javascript">
        $(function () {
            $('.accordion').beefup({
                scroll: true,
                scrollOffset: -10,
                selfClose: true
            });
        });
    </script>
}