﻿
@{
    ViewBag.Title = "Resume | Jeff DeMaranville";
}

<div class="jumbotron small-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <h1>
                    Resume
                </h1>
            </div>
            <div class="header-btn pull-right">
                <a href="~/Home/Resume">RESUME</a>
            </div>
        </div>
    </div>
</div>

<div id="resumeAccordion">
    <h2>Skills</h2>
    <div>
        <ul>
            <li>Experienced with T-SQL, XSL, HTML, CSS, JavaScript, ASP.NET MVC, ADO.NET, jQuery, jQueryUI, and C#</li>
            <li>Familiar XML, AJAX, APEX, JSON, MySQL, Microsoft Dynamics CRM, Salesforce</li>
            <li>Excellent training and communication skills developed through years of customer service, technical training, and small business experience</li>
        </ul>
    </div>
    <h2>Professional Experience and Training</h2>
    <div>
        <ul>
            <li>
                Centriq Training, Technical Instructor, Leawood, KS 04/2016 - Present
                <ul>
                    <li>Training Development Career Track students in T-SQL, HTML, JavaScript, CSS, jQuery, JSON, MVC, ADO.NET, and C#</li>
                </ul>
            </li>
            <li>
                Data Technology Specialist, Accuhealth Partners, Lenexa, KS 08/2013 - 04/2016
                <ul>
                    <li>Thoroughly documented all IT processes to help train and maintain code, workflows, plugins and automated jobs</li>
                    <li>Retrieved over 500,000 appointment and demographic records from 45 Gastroenterology practices using MySQL, MSSQL, MS Access and EHR reporting applications</li>
                    <li>Integrated EHR information and detailed business reporting in Salesforce and Microsoft Dynamics CRM using Pentaho, MySQL and MSSQL</li>
                    <li>Aided in developing a complex data model for Microsoft Dynamics CRM to migrate obsolete data model from Salesforce</li>
                    <li>Maintained Microsoft Dynamics CRM customizations that transformed Microsoft Dynamics CRM from a Sales platform to a unique Patient and Practice management system using C#, HTML and JavaScript</li>
                    <li>Customized and maintained 29 CRM Workflows and dynamic Email templates using XML, XSL, HTML and CSS</li>
                    <li>Maintained custom C# applications that update Microsoft Dynamics CRM with shipping and tracking information from shipping department</li>
                    <li>Developed and maintained dynamic Fusion Pro letter templates using JavaScript</li>
                </ul>
            </li>
            <li>
                Centriq Training Developer Track, Leawood, KS 04/2013 - 07/2013
                <ul>
                    <li>Developed dozens of websites using languages listed in Skills</li>
                    <li>Developed and maintained portfolio website (www.jeffdcodefolio.com) utilizing ASP Web Forms, Membership functionality/Security roles, Responsive layout, jQuery, JavaScript, SQL, C#, HTML and CSS</li>
                </ul>
            </li>
            <li>
                Bartender/Server, On The Border, Leawood, KS 03/2009 - 07/2013
                <ul>
                    <li>Trained all new bartenders to be efficient with guests while adhering to policies and procedures set forth by the company</li>
                    <li>Greeted patrons and fulfilled needs in a friendly and inviting manner</li>
                    <li>Maintained stock, liquor inventory, produce and glassware</li>
                </ul>
            </li>
            <li>
                IT Administrator, Kansas State University, Manhattan, KS 01/2007 - 12/2008
                <ul>
                    <li>Maintained a network of over 50 PCs</li>
                    <li>Installed/Repaired all software and hardware</li>
                    <li>Created detailed logging of work progress and hardware status</li>
                    <li>Assisted department employees with hands-on and remote services</li>
                </ul>
            </li>
        </ul>
    </div>
    <h2>Contact Information</h2>
    <div>
        <ul>
            <li><a href="mailto:jeffreydemaranville@gmail.com">Jeffrey.DeMaranville@gmail.com</a></li>
            <li><a href="tel:9136452801">(913)645-2801</a></li>
        </ul>
    </div>
</div>




@section scripts{
    <script>
        $(function () {
            $("#resumeAccordion").accordion({ heightStyle: "content", collapsible: true, active: false });
        });
    </script>
}